[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# InnoDB settings
innodb_buffer_pool_size = 12G  # 75% of RAM
innodb_log_file_size = 3G      # 25% of innodb_buffer_pool_size
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_buffer_pool_instances = 8

# Connection settings
max_connections=500
thread_cache_size = 100

# Buffer settings
sort_buffer_size=2M
read_buffer_size=1M
read_rnd_buffer_size=1M
join_buffer_size=1M
thread_stack=1M

# Query cache settings (disable if using InnoDB)
query_cache_size = 0
query_cache_type = 0

# Temporary table settings
tmp_table_size = 256M
max_heap_table_size = 256M

# Other settings
table_open_cache = 4000
table_definition_cache = 2000
open_files_limit = 65535

# Performance Schema
performance_schema = ON


